<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <div class="jumbotron"
         style="  padding-bottom: 10px;  padding-top: 5px;background-color:rgb(112, 65, 189);opacity: 0.8;color:white;">
        <div class="row">
            <div class="col-sm">
                <!-- <i style="padding-bottom: 5px;" class="fas fa-comments fa-5x"></i> -->
            </div>
            <div class="col-sm">
                <h1 style="text-align:center;padding-top: 5px;padding-bottom: 0px;">Main Menu</h1>
            </div>
            <div class="col-sm"></div>
        </div>
        {% with show_group = student_show_group %}
                {% include 'menu/menu.html' %}
             {% endwith %}
    </div>
    <style>
        #links {
            font-size: 22px;
            color: black;
        }

        a:visited {
            color: black;
        }


    </style>
</head>
<body>
<div class="container">
    <table class="table">
        <tr>
            <th>Student Number:</th>
            <td>{{ student_number }}</td>
        </tr>
        <tr>
            <th>Tutorial Number:</th>
            <td>{{ tutorial_number }}</td>
        </tr>
        <tr>
            <th>Group Number:</th>
            <td>{{ group_number }}</td>
        </tr>
    </table>
    <hr>
    {% if pending_action_feedback == True%}
    <div class="alert alert-warning">
        You have pending action feedback!
    </div>
    {% endif %}
    <hr>
    <a href="/feedback"  style="color: white;">
    <div class="jumbotron jumbotron-fluid" style="background-color: #580aa4;border-radius: 25px;margin-bottom: 1em;" >
        <div class="container">
            <div>
                <span class="fas fa-comment-dots fa-4x" style=" vertical-align: middle;"></span>
                <span class="h3" style=" vertical-align: middle;float: right;">Give Feedback</span>
              </div>
              
        </div>
      </div>
    </a>


    <a href="/feedback/action-feedback" style="color: white;">
      <div class="jumbotron jumbotron-fluid" style="background-color: #580aa4;border-radius: 25px;margin-bottom: 1em;" >
        <div class="container">
            <div>
                <span class="fas fa-comments fa-4x" style=" vertical-align: middle;"></span>
                <span class="h3" style=" vertical-align: middle;float: right;">Action Feedback</span>
              </div>
              
        </div>
      </div>
    </a>

    <a href="/stats"  style="color: white;">

      <div class="jumbotron jumbotron-fluid" style="background-color: #580aa4;border-radius: 25px;margin-bottom: 1em;" >
        <div class="container">
            <div>
                <span class="fas fa-chart-bar fa-4x" style=" vertical-align: middle;"></span>
                <span class="h3" style=" vertical-align: middle;float: right;">Stats</span>
              </div>
              
        </div>
      </div>
    </a>


      <a href="/schedule/tutorial"  style="color: white;">
      <div class="jumbotron jumbotron-fluid" style="background-color: #580aa4;border-radius: 25px;margin-bottom: 1em;" >
        <div class="container">
            <div>
                <span class="fa fa fa-calendar fa-4x" style=" vertical-align: middle;"></span>
                <span class="h3" style=" vertical-align: middle;float: right;">Schedule</span>
              </div>
              
        </div>
      </div>
    </a>


    <a href="/standings"  style="color: white;">
      <div class="jumbotron jumbotron-fluid" style="background-color: #580aa4;border-radius: 25px;margin-bottom: 1em;" >
        <div class="container">
            <div>
                <span class="fas fa-trophy fa-4x" style=" vertical-align: middle;"></span>
                <span class="h3" style=" vertical-align: middle;float: right;">Standings</span>
              </div>
              
        </div>
      </div>
    </a>

</div>
{% include 'menu/footer.html' %}
</body>

</html>