<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <div class="jumbotron" style="  padding-bottom: 10px;  padding-top: 5px;background-color:rgb(112, 65, 189);opacity: 0.8;color:white;">
            <div class="row">
                <div class="col-sm">
                    <i style="padding-bottom: 5px;" class="fas fa-calendar fa-5x"></i>
                </div>
                <div class="col-sm">
                    <h1 style="text-align:center;padding-top: 5px;padding-bottom: 0px;">Comment</h1> 
                </div>
                <div class="col-sm"></div>
            </div>
            {% include 'menu/menu.html' %}
              </div>

    </head>
    <body>
        <style>
            .fa-thumbs-up:hover{
                color:indigo;
            }

            .fa-thumbs-down:hover{
                color:indigo;
            }

            .fa-fist-raised:hover{
                color:indigo;
            }

            .fa-flag:hover{
                color:indianred;
            }
        </style>
        <div class="container">
           <table class="table table-bordered">
               <tr>
                   <td>Author:</td>
                   <td>John</td>
               </tr>
           </table>
           

          <div class="card text-white bg-info mb-3" style="float:none; margin:auto;max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Warning card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <i class="fa fa-thumbs-up" style="font-size:36px"></i>
                <i class="fa fa-fist-raised" style="font-size:36px;padding-left: 0.5em;"></i>
                <i class="fa fa-thumbs-down" style="font-size:36px;padding-left: 0.5em;"></i>
                <i class="fa fa-flag" style="font-size:36px;padding-left:0.5em;"></i>


            </div>
          </div>
           </div>
    </body>
    {% include 'menu/footer.html' %}
</html>