<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

         <!-- Popper JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

         <div class="jumbotron" style="  padding-bottom: 10px;  padding-top: 5px;background-color:#1070bd;opacity: 0.8;color:white;">
            <div class="row">
                <div class="col-sm">
                    <i style="padding-bottom: 5px;" class="fa fa-question fa-5x"></i>
                </div>
                <div class="col-sm">
                    <h1 style="text-align:center;padding-top: 5px;padding-bottom: 0px;">404 - Not found</h1> 
                </div>
                <div class="col-sm"></div>
            </div>
            {% include 'menu/public.html' %}
              </div>
        </head>
    <body>
        <div class="container" style="height:100%;">
            <div class="jumbotron" style="  padding-bottom: 10px;  padding-top: 5px;background-color:red;opacity: 0.8;color:white;">
                <h2>Resource not found.</h2>
            </div>
        </div>
    </body>
    {% include 'menu/footer.html' %}
</html>