<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

         <!-- Popper JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <div class="jumbotron" style="  padding-bottom: 10px;  padding-top: 5px;background-color:rgb(112, 65, 189);opacity: 0.8;color:white;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <h1 style="text-align:center;padding-top: 5px;padding-bottom: 0px;">Login</h1> 
                </div>
                <div class="col-sm"></div>
            </div>
            {% include 'menu/public.html' %}
              </div>
        </head>
    <body>
    <body>
            <div class="container">
                <section class="vh-100">
                    <div class="container-fluid h-custom">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                            alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                          <form>                                   
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email" id="username" class="form-control form-control-lg"
                                placeholder="Student Number" />
                              <label class="form-label" for="username">Student Number</label>
                            </div>
                  
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                              <input type="password" id="password" class="form-control form-control-lg"
                                placeholder="Enter password" />
                              <label class="form-label" for="password">Password</label>
                            </div>
                  
                            <div class="d-flex justify-content-between align-items-center">
                              <!-- Checkbox -->
                              <div class="form-check mb-0">
                                <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                  Remember me
                                </label> -->
                              </div>
                              
                            </div>
                  
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <button type="button"id="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; margin-bottom: 2em; padding-right: 2.5rem;">Login</button>
                                <a type="button" href="/admin/login" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Admin Login Page</a>
                            </div>
                  
                          </form>
                        </div>
                      </div>
                    </div>
                  </section>
        </div>
    </body>

    {% include 'menu/footer.html' %}

    <script>
        $(document).ready( function(){

          $('.container').keypress(function(event){
              var keycode = (event.keyCode ? event.keyCode : event.which);
              if(keycode == '13'){
                $("#submit").click();
              }
          });
            $("#submit").click( function(){

                let loginDetails = {username:$("#username").val(),password:$("#password").val()};

                $.ajax({
                    type:"POST",
                    url:"/auth",
                    data: loginDetails,
                    success: function(){
                        console.log("login sucessful")
                        window.location.href = "/home"

                    },
                    error: function(){
                        alert("login failed")
                    }
                })
            })
        })
    </script>
    <style>
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
    </style>
</html>