<style>
    .container {
        height: auto;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/home">MECH1750</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Schedule</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item alert-warning" href="/admin/schedule">Schedule</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/schedule/jobs">Scheduled Jobs</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/feedback">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/unactioned-feedback">Unactioned Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/reported-feedback">Reported Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/standings">Standing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/marking">Marking Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/upload-students">Upload Student Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/edit/groups">Edit Groups</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>

            </li>
          </ul>
    </div>
</nav>